<form [formGroup]='form' (ngSubmit)="onSubmit()" autocomplete="off" class="offset-3 col-6">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <app-text-input [formControl]='form.controls["username"]' [label]='"Username"' [secondaryType]='"username"'></app-text-input>
    <app-text-input [formControl]='form.controls["email"]' [label]='"Email"' [type]='"email"'></app-text-input>
    <app-text-input [formControl]='form.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
    <app-text-input [formControl]='form.controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>

    <div class="row" *ngIf="validationErrors.length <= 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group text-center">
        <button [disabled]='!form.valid' class="btn btn-success mx-3" type="submit">Register</button>
        <button class="btn btn-info mx-3" (click)="onCancel()" type="button">Cancel</button>
    </div>
</form>

